In [7]:
import glob

import os
import pandas as pd

In [8]:
data = {
    'ScoreA': [10, 20, 30, 40, 50],
    'ScoreB': [5, 15, 25, 35, 45],
    'ScoreC': [100, 200, 300, 400, 500]
}
df = pd.DataFrame(data, index=[0, 2, 4, 6, 8])

In [10]:
df

   ScoreA  ScoreB  ScoreC
0      10       5     100
2      20      15     200
4      30      25     300
6      40      35     400
8      50      45     500

In [14]:
row_nums = [0, 6]
col_names = ["ScoreA", "ScoreC"]
df.values[df.index.get_indexer(row_nums), df.columns.get_indexer(col_names)]

array([ 10, 400])